div.a {
	text-align: center;
	font-size: 50;
	width: 100%;
	padding: 50px;	
	background-color: lightblue;
}

div.b{
	width: 100%;
	font-size: 25;
}

.tile_style{
    text-align: center; display: inline-block; width:200px; height:200px; border-style: solid; border-color: black; border-width: 2px;
}

.uzvara {
    text-align: center; z-index: 100; right:0px; left:0px; color: red;
}


